.shop-holder{
    display:inline;
    margin-top:20px;
    
}
.shop{
    display:inline-block;
    border:1px solid lightgray;
    margin:20px 20px;
    padding:10px;
    border-radius:20px;
    width:280px;
    height:320px;
    background-color:white;
    box-shadow:10px 10px 10px gray;
}
.shop:hover{
    cursor:pointer;
}
.shop p{
    color:#0054db
}
.button{
    background-color:black;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
}
.button:disabled{
    background-color:gray;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius:5px;
}