.products{
    margin-left:240px !important;
    padding-top:20px;
    
    background-size:cover;
}
@media screen and (max-width:960px){
    .products{
        margin-left:20px !important;
        background-color:lightgray;
        padding-top:20px;
        background-size:cover;
        padding-bottom:40px;
    }
}
@media screen and (max-width:768px){
    .products{
        margin-left:0px !important;
        background-color:lightgray;
        padding-top:20px;
        background-size:cover;
        padding-bottom:40px;
    }
}
.works{
    background-color:#111430;
    height:auto;
    object-fit:contain;
    margin-top:40px;
    padding:20px;
}
.works img{
    object-fit: contain;
    width:90%;
    height:auto;
    border:none;
}
.slick-dots li button:before {
    color: orange;
    font-size:16px;
}
.slick-dots li.slick-active button:before {
    color:orange !important;
}